<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/posts"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center post-title">
      {{ post?.title }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="post">
  <ion-grid>
    <h4 class="post-title">
      {{ post?.description }} &nbsp;
      <ion-icon (click)="updatePost(post._id)" name="create"></ion-icon>
    </h4>
    <ion-row>
      <ion-col>
        <ion-text color="primary">
          <small>{{ post?.category }}</small>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-text>
          <small>{{ post?.createdAt | date: 'dd MMM, yyyy' }}</small>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center">
    <img
      class="cover-img"
      [src]="(post?.postImages)['0'].images[0]"
      alt="{{ post?.title }}"
    />
  </div>

  <div class="ion-padding ion-margin-top">
    <div [innerHTML]="body"></div>
  </div>
</ion-content>
