<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    class="ion-text-center ion-margin-top"
    *ngIf="profileInfo !== null && !isLoading"
  >
    <img
      [src]="profileInfo?.avatar"
      alt="{{ profileInfo?.name }}"
      class="avatar"
    />
    <ion-label>
      <h2 class="ion-margin-bottom ion-text-capitalize">
        {{ profileInfo?.name }}
      </h2>
      <p>
        Joined {{ profileInfo?.createdAt | date: 'dd MMM. yyyy' }}
      </p>

      <p>{{ profileInfo?.bio }}</p>
    </ion-label>
    <ion-item>
      <h5>Posts</h5>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size="12">
          <div *ngIf="isLoading && posts?.length <= 0">
            <p>You do not have any posts at the moment.</p>
            <ion-button color="primary" [routerLink]="['/tabs/home']"
              >Create new post</ion-button
            >
          </div>

          <ion-list *ngIf="!isLoading && posts?.length > 0">
            <ion-item *ngFor="let post of posts">
              <app-post-item [post]="post"></app-post-item>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-button color="primary" [routerLink]="['/tabs/posts']">
        <span class="ion-text-capitalize">See more posts</span>
      </ion-button>
    </ion-grid>
  </div>

  <div
    class="ion-text-center ion-margin-top"
    *ngIf="profileInfo === null && !isLoading"
  >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Profile Info Unavailable</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Hi! Kindly ensure you are logged in and your internet connection is
          currently available.ion-card-content.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
