<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-margin-top" *ngIf="!createNow && !preview">
    <img src="../../assets/images/posts.svg" alt="Posts" />
    <ion-label>
      <h2 class="ion-margin-bottom">
        Hi there Benneee! <br />
        Write something amazing today
      </h2>
    </ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button fill="outline" expand="block" (click)="createPost()">
            Create a new post!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="createNow" class="ion-margin">
    <!-- <h2>Start new post now!</h2> -->
    <form [formGroup]="postForm" (ngSubmit)="submit()">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
                <div
                  *ngIf="controls?.title.touched && !controls?.title.valid"
                ></div>
              </ion-item>

              <ion-item>
                <ion-label>Category</ion-label>
                <ion-select formControlName="category" placeholder="Select One">
                  <ion-select-option value="Personal"
                    >Personal</ion-select-option
                  >
                  <ion-select-option value="Technical"
                    >Technical</ion-select-option
                  >
                </ion-select>

                <div
                  *ngIf="controls?.category.touched && !controls?.category.valid"
                ></div>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input
                  type="text"
                  formControlName="description"
                ></ion-input>

                <div
                  *ngIf="controls?.description.touched && !controls?.description.valid"
                ></div>
              </ion-item>

              <ion-item>
                <ion-label>Description</ion-label>
                <ion-checkbox
                  (ionChange)="$event.target.checked
                ? postForm.controls['published'].setValue(true)
                : postForm.controls['published'].setValue(false)
                "
                  formControlName="published"
                  color="primary"
                >
                </ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <quill-editor
        formControlName="body"
        [styles]="{height: '200px'}"
        [modules]="config"
      >
      </quill-editor>

      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button
              class="ion-margin-top"
              color="success"
              [disabled]="!postForm.valid"
              expand="block"
              type="submit"
            >
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            fill="outline"
            expand="block"
            [disabled]="!postForm.valid"
            (click)="previewPost()"
          >
            Preview
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="preview" class="ion-margin">
    <!-- <h4>Sneak Peak!</h4> -->
    <quill-view
      [content]="editorContent"
      format="text"
      theme="snow"
    ></quill-view>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button fill="outline" expand="block" (click)="createPost()">
            Back to Post!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
